@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

@import '@styles/styles.css';

:root {
  font-family: 'Kumbh Sans', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100dvw;
  background-color: var(--white);
  color: var(--very-dark-blue);
}

#app {
  --max-app-width: 1440px;
  --min-app-width: 375px;

  min-width: var(--min-app-width);
  max-width: var(--max-app-width);
  height: 100dvh;
  padding-inline: 2rem;
  overflow-x: auto;
  display: grid;
  grid-template-rows: auto 1fr;
}
