.align-flex-row {
  display: flex;
  align-items: center;
}

.center-flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center-flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
